/*Custom Fonts*/
@font-face {
    font-family: 'AloneInSpace';
    src: url('../fonts/AloneInSpaceReguler-qZ2xr.ttf'), url('../fonts/AloneInSpaceReguler-qZ2xr.ttf') format('truetype'),
     url('../fonts/AloneInSpaceReguler-qZ2xr.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgeLast';
    src: url('../fonts/Agelast-mLlAm.otf'), url('../fonts/Agelast-mLlAm.otf') format('truetype'),
     url('../fonts/Agelast-mLlAm.otf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TruenoUltraLight';
    src: url('../fonts/TruenoUltralight-DKax.otf'), url('../fonts/TruenoUltralight-DKax.otf') format('truetype'),
     url('../fonts/TruenoUltralight-DKax.otf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TruenoExtraBold';
    src: url('../fonts/TruenoExtrabold-05gr.otf'), url('../fonts/TruenoExtrabold-05gr.otf') format('truetype'),
     url('../fonts/TruenoExtrabold-05gr.otf') format('svg');
    font-weight: normal;
    font-style: normal;
}




.TitleFont{
    font-family:'AgeLast';
    font-size: 60px;
    letter-spacing: .2em;
    margin-right:-.2em;
    text-align: center;
    color: rgb(212, 216, 229);
}

.CategoryFont{
    font-family:'AgeLast';
    font-size: 40px;
    letter-spacing: .2em;
    text-align: center;
    color: rgb(212, 216, 229);
}

.BriefIntro{
    opacity: 1;
    border-top: 1px solid #858996;
    color: rgb(212, 216, 229);
    margin-top: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: 0.1em;
    font-family: "AgeLast";
    text-align: center;
}

.subHeader{
    font-family:'TruenoExtraBold';
    letter-spacing: 0.1em;
    font-size: 18px;
}

.projectTech{
    letter-spacing: 0.1em;
    font-family: "AgeLast";
}

.aboutText{
    font-family:'TruenoUltraLight';
}

.aboutIconText{
    font-family:'TruenoUltraLight';
    display:none;
}
@media (min-width: 850px) {
    .aboutIconText{
        font-family:'TruenoUltraLight';
        display:block;
    }
}


.csharpText{
    font-family:'TruenoExtraBold';
    padding: 0;
    font-size: 201%;
    margin:0;
}

.aboutSubHeader{
    font-family:'TruenoUltraLight';
    text-align: center;
}

.contactFormEmail{
    opacity: 1;
    color: rgb(212, 216, 229);
    margin-top: 20px;
    font-size: 18px;
    font-size: 1.125rem;
    letter-spacing: 0.1em;
    font-family: "TruenoUltraLight";
    text-align: center;
}