.Background{
    /*background-color: #14161E;*/
    background-image: radial-gradient(#2e384d, #13151d);
}

.SubPage{
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
    overflow-y: hidden;
    color: #D4D8E5;
}

.centered {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 25px;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer{
    margin: 25px;
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    background: rgb(21, 22, 29, .8);
    border:2px double rgb(212, 216, 229);
    z-index: 1;
}

/* 
Scroll bar design
*/
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    position: relative
  }

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
background: #14161E;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #3e4450;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #3e4450;
}

/*
Navigation
*/
.burger-wrapper {
    cursor: pointer;
  }
  @media all and (min-width:0px) and (max-width: 1024px) {
    #meny {
        background: rgb(21, 22, 29, .9);
        width: 20rem;
        height: 100vh;
        position: fixed;
        right: 0;
        transition-timing-function: cubic-bezier(10,2,3,1);
        transform: translateX(50rem);
        top: 0;
        z-index: 999;
        transition: 0.5s;
    }
  }

  @media all and (min-width:1024px){
  #meny {
      background: rgb(21, 22, 29, .5);
      width: 20rem;
      height: 100vh;
      position: fixed;
      right: 0;
      transition-timing-function: cubic-bezier(10,2,3,1);
      transform: translateX(50rem);
      top: 0;
      z-index: 999;
      transition: 0.5s;
  }
}
  #menyAvPaa {
      display: none;
      position: fixed;
  }
  
  #menyAvPaa:checked ~ #meny {
      transform: translateX(0rem);
  }
  
  #burger {
      position: fixed;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      right: 2rem;
      top: 2rem;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }
  

  #burger > div {
      height: 2px;
      background-color: rgb(212, 216, 229, .7);
      transition: 0.5s;
      z-index: 999;
  }

  #menyAvPaa:checked ~ #burger > div {
    background-color: rgb(212, 216, 229);
  }
  
  #menyAvPaa:checked ~ #burger > div:nth-child(1) {
      transform: translateY(15px) rotate(45deg);
  }
  #menyAvPaa:checked ~ #burger > div:nth-child(2) {
      opacity: 0;
  }
  #menyAvPaa:checked ~ #burger > div:nth-child(3) {
      transform: translateY(-15px) rotate(-45deg);
  }

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}
